.ipynb_checkpoints/
.vscode/
doc/_build/
cellpainting/resource_paths.py
cellpainting/test.html
cellpainting/test.js
cellpainting/temp.py
cellpainting/nim_ext.so
notebooks/.ipynb_checkpoints/
cluster_tools/python/test_*
*.pkl
*.png
*.mrv
*.mol
*.pyc
branch_info.txt
commit_msg.txt
snippets.txt
tags
